@import url('refinery/application.css');
#page, #site_bar_content, #page_container > footer, #page_container > header {
  width: 100%;
  margin: 0px auto;
}

#page_container > footer, #page_container > header {

}

#page {
	border-top: .25em solid black;
}

#page_container {
	width: 100%;
	margin: 0 auto;

}



#body_content_left h1 {

	font-size: 5em; 
	color: #D1D3D4;
	font-weight: normal;
}

#body_content_left h2 {
	margin-bottom: 0;
	font-size: 3em; 
	color: #D1D3D4;
	font-weight: bold;
}

header h1 {
	margin:0;
	max-width: 100%;
}

body {

	color: #58595B;
	font: normal 100% Verdana;
	width: 100%;
  line-height: 18px;
}

#body_content {
	margin: 0 auto;
	width: 80%;

}

#body_content_left {
	margin: 0;
	padding: 0em;
	width: 65%;
	float: left;

}

#body_content_left a {
	color: #188DCD;
}

#body_content_left .inner h1 {

}

#supports {
	list-style-type: none;
}


#body_content_right {
	color: #164D6C;
	margin: 0 auto;
	padding-left: 0;
	padding-top: 1em;
	width: 30%;
	float: right;
	-webkit-box-shadow: inset 10px 0px 20px -20px #888;
	   -moz-box-shadow: inset 10px 0px 20px -20px #888;
	        box-shadow: inset 10px 0px 20px -20px #888;
}

#body_content_right img {

	height: auto;
	max-width: 100%;
}

#body_content_title {
	display: none;
}

#menu {
	padding-top: .5em;
	
	margin: 0 auto;
	width: 80%;



}

#menu_bar {
	background: -webkit-gradient(linear, left top, left bottom, from(#164D6C), to(#135A7A));
  background: -webkit-linear-gradient(top, #164D6C, #135A7A);
  background: -moz-linear-gradient(top, #164D6C, #135A7A);
  background: -ms-linear-gradient(top, #164D6C, #135A7A);
  background: -o-linear-gradient(top, #164D6C, #135A7A);
  -webkit-box-shadow: 0 0px 5px 0px black;
  -moz-box-shadow: 0 0px 5px 0px black;
  box-shadow: 0 0px 5px 0px black;

}

#menu ul {
  list-style: none;
	float: right;
	margin: 0;

  padding: 0px;
}

#menu ul li {
	font-size: 1.2em;
  margin-right: 0em;
}

#menu ul li a {
	color: #188DCD;
  display: block;
  padding-left: 1em;
  text-decoration: none;
}

#menu ul li.selected a, #menu ul li a:hover {
  color: #CCCCCC;
}


#search {
	clear: both;
	padding-top: .25em;


}

.search_form {
	float: right;
	padding-bottom: 0.5em;
}

/* sidebar */

#body_content_right .inner {
	width: 90%;
}

#body_content_right .sidebar {

}

#body_content_right .sidebar a img{
	height: auto;
	max-width: 100%;
	margin: 0.5em auto;
}

.sidebar_images img:hover {

}



footer .foot {
	height: auto;
	max-width: 100%;
	color: white;
	padding: 1em 1em 2em 1em;
	background: -webkit-gradient(linear, left top, left bottom, from(#135A7A), to(#164D6C));
  background: -webkit-linear-gradient(top, #135A7A, #164D6C);
  background: -moz-linear-gradient(top, #135A7A, #164D6C);
  background: -ms-linear-gradient(top, #135A7A, #164D6C);
  background: -o-linear-gradient(top, #135A7A, #164D6C);
}

.foot_items {

	margin: 0 auto;

}

.foot_items img {


}

.foot p {
	margin-bottom: 0;
}

.footer a {
	color: #188DCD;
}

.office_info  {
	color: #D1D3D4;
	margin: 0;
}

.email_address {
	float: left;


}

#copyright {
	color: #D1D3D4;
	float: right;

}

#privacy {
	float: right;
	margin: 0;

}

/* My Eyes Only Page
-----------------------------------*/

.meo-trio img {
	max-width: 100%;
	overflow: hidden;
	height: auto;
}

.gradient-border {
	height: 3em;
	
}

/* Search Page
-----------------------------------*/

#searchTitle {
  font-size: 1.7em
  padding: 15px;
}

.result-title {
  padding: 5px 15px 5px;
  font-size: 1.1em;
}
.result-title {
    color: #222;
  }

.result-body {
  padding: 0 25px 10px;
  border-bottom: 1px solid #ccc;
  text-indent: 1em;
}

/* Some Blueprint Classes -----------------------------------*/

/* A container should group your entire grid. */
.container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

/* A block should group all your columns per row stack. */
.block {overflow: hidden;}


/* Columns
-------------------------------------------------------------- */

/* Use this class together with the .span-x classes
to create any composition of columns in a layout. */
.column {float: left;}

/* The last column in a row needs this class. */
.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1 { width: 4%; }
.span-2 { width: 8%; }
.span-3 { width: 12%; }
.span-4 { width: 16%; }
.span-5 { width: 20%; }
.span-6 { width: 25%; }
.span-7 { width: 29%; }
.span-8 { width: 33%; }
.span-9 { width: 37%; }
.span-10 { width: 41%; }
.span-11 { width: 45%; }
.span-12 { width: 50%; }
.span-13 { width: 54%; }
.span-14 { width: 58%; }
.span-15 { width: 62%; }
.span-16 { width: 66%; }
.span-17 { width: 70%; }
.span-18 { width: 75%; }
.span-19 { width: 79%; }
.span-20 { width: 83%; }
.span-21 { width: 87%; }
.span-22 { width: 91%; }
.span-23 { width: 95%; }
.span-24 { width: 100%; margin-right: 0; }

/* Segmented Control */

.segmented-control {

    list-style-type: none;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0 auto;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .15);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .15);
}

.segmented-control li {
    background-color: #EEEEEE;
    float: left;
    margin-left: 0px;
		width: 25%;
}

.segmented-control li,
.segmented-control.alt li:target,
.segmented-control.alt li:target:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, 0)));
    
    background-image: -moz-linear-gradient(0 0 -90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
}

.segmented-control li, .segmented-control.alt li:target {
    -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .1);
    -moz-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .1);
}

.segmented-control li:first-child {
    margin-left: 0;
    
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.segmented-control li:last-child {
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.segmented-control a {
    font-size: 1em;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    height: auto;
}

.segmented-control a,
.segmented-control.alt li:target a {
    color: #262626;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .15);
}

.segmented-control li:active {background-color: #525252;}

.segmented-control li:active,
.segmented-control.alt li:target:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .15),
                        inset 0 0 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .15),
                     inset 0 0 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .15),
                inset 0 0 5px rgba(0, 0, 0, .1);
}

.segmented-control li:active a,
.segmented-control.alt li:active a {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1);
    position: relative;
    top: 1px;
}

.segmented-control li:target {
    background-image:
        -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .1))),
        url(../images/demos/background-segmented-control-selected.png);
    
    background-image:
        -moz-linear-gradient(0% 0% -90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1)),
        url(../images/demos/background-segmented-control-selected.png);
    
    background-color: #333;
    
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1),
                        inset 0 0 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1),
                     inset 0 0 5px rgba(0, 0, 0, .15);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1),
                inset 0 0 5px rgba(0, 0, 0, .15);
}

.segmented-control.alt li:target {background-color: #4e4e4e;}

.segmented-control li:target a {color: #fff; text-shadow: 0 1px 0 #000;}

.segmented-control li:target:active {
    background-image:
        -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .05))),
        url(../images/demos/background-segmented-control-selected.png);
        
    background-image:
        -moz-linear-gradient(0% 0% -90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .05)),
        url(../images/demos/background-segmented-control-selected.png);
    
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15),
                        inset 0 0 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15),
                     inset 0 0 5px rgba(0, 0, 0, .15);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15),
                inset 0 0 5px rgba(0, 0, 0, .15);
}





