@import url('refinery/application.css');
#page, #site_bar_content, #page_container > footer, #page_container > header {
  width: 100%;
  margin: 0px auto;
}

#page_container > footer, #page_container > header {
width: 100%;

}

body {
  background: #DDD;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
}

#body_content_left {
	width: 65%;
	float: left;
	margin: 2em;
	padding: 0px;
}

#body_content_left .inner h1 {

}

#supports {
	list-style-type: none;
}


#body_content_right {
	width: 25%;
	float: right;
	margin: 2em;
}

#body_content_title {
	display: none;
}

#menu ul {
  list-style: none;
  float: right;
	margin: 2em;
  padding: 0px;
}

#menu ul li {

  margin-right: 10px;
}

#menu ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

#menu ul li.selected a, #menu ul li a:hover {
  background: #CCC;
}

#search {
	float: right;
	margin-right: 5em;
}

footer {
	width: 100%;
	margin: 2em auto;
}

#copyright {
	margin-left: 2em;
	margin-bottom: 2em;
	float: left;
}

#privacy {
	margin-bottom: 2em;
	padding-left: 25em;
}



/* Search Page
-----------------------------------*/

#searchTitle {
  font-size: 1.7em
  padding: 15px;
}

.result-title {
  padding: 5px 15px 5px;
  font-size: 1.1em;
}
  .result-title {
    color: #222;
  }

.result-body {
  padding: 0 25px 10px;
  border-bottom: 1px solid #ccc;
  text-indent: 1em;
}


