/*
  Override default refinery formatting below.
  Formatting applies to backend WYSIWYG editors and all frontend.
*/

#logo {

	margin-left: 10%;
	width: 50%;
	padding-top: .5em;



/*  background: url(../images/logo.png) no-repeat;  */
}

#logo img {
		max-width: 100%;
		overflow: hidden;
}

h3 a img {
	max-width: 100%;
}

/* Apps page product content */
.app-info {
	display: block;
}

.app-videos, .app-testimonials, .app-support {
	display: none;
} 


/* rollover images */

.meo_ro:hover {

	}


/* Apps page portfolio grid layout */

#app-portfolio img:hover {

  
  -webkit-box-shadow: 0 10px 0 rgba(255, 255, 255, .15);
  -moz-box-shadow: 0 10px 0 rgba(255, 255, 255, .15);
  box-shadow: 0 10px 0 rgba(255, 255, 255, .15);
}


.block img {
	max-width: 100%;
	height: auto;
}

.pproduct-portfolio-grid {
	margin: 4em 2em 2em 2em;
}

.pportfolio-row: {
	clear: both;
	float: left;
}

.pportfolio-box {
	margin: 1em 3em;
	height: 150px;
	border: 2px solid #152F77;
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
  border: 2px solid #152F77;
	background: -webkit-gradient(linear, left top, left bottom, from(#152F4D), to(#152F7D));
  background: -webkit-linear-gradient(top, #152F4D, #152F7D);
  background: -moz-linear-gradient(top, #152F4D, #152F7D);
  background: -ms-linear-gradient(top, #152F4D, #152F7D);
  background: -o-linear-gradient(top, #152F4D, #152F7D);
}

.pportfolio-box img {

	margin: 0.5em auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

} 
.pportfolio-box p {
	text-align: center;
	color: red;
}

.pportfolio-box a {
	text-decoration: none;
}

.pportfolio-box:hover {

   background: #666666;
   color: #ccc;
   }

#pportfolio-grid {
	width: 100%;
	padding: 3em;
}

#pportfolio-grid img {
	display: inline;
	max-width: 100%;
	float: left;
	border: 2px solid white;
	margin: 2em;
}

#pportfolio-grid a {
		text-decoration: none;
}

.thumbnail-box {
  padding: 7px 10px 7px 7px;
}

.thumbnail-box img {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border: 2px solid #152F77;
}



.news_item a {
	color: white;
}

.news_item_truncated a {
	color: white;
}

#recent_news_items a {
	color: white;
}

.blog_post h1 a {
	color: white;
	font-size: 100%;
}

#blog_posts a {
	color: white;
	font-size: 100%;
}

.blog_post a {
	color: white;
	font-size: 100%;
}

#rss_feed_subscribe {
	color: white;
}


}

#supports a {
	color: white;
	font-size: 100%;
}