 
<div class="foot">
  <div class="foot_items">
      <div class="container">

        <div class="span-24">
          <div class="span-8">
              <p>Software Ops</p>
              <p class="office_info">8130 E. Cactus Road</p>
              <p class="office_info">Suite 520</p>
              <p class="office_info">Scottsdale, AZ 85260</p>
              <p class="office_info">iPhone 602-758-0650</p>
          
          </div>

          <div class="span-8">
              <p>Follow Us</p>
      			  <a href="http://www.facebook.com/sharer.php?u=http://softwareops.com/products/myeyesonly.html" target="_blank"><img src="images/facebook.png" alt="Facebook icon" /></a>
      			  <a href="http://twitter.com/?status=My+Eyes+Only:%20http://softwareops.com/products/myeyesonly.html"  target="_blank"><img src="images/twitter.png" alt="Twitter icon" /></a>
      			  <a href="http://www.linkedin.com/" target="_blank"><img src="images/linkedin.png" alt="linkedin icon" /></a>
      			  </div>
          </div>

          <div class="span-7">
    
          </div>
      
    
        </div>
    

    
    
   

         <div class="email_address">
           <a href="mailto:info@softwareops.com">info@softwareops.com</a>
         </div>
         
         <div id="copyright">
           <p>© 2012 Software Ops, LLC</p>
         </div>

    
      </div>
      

      
      
  
  </div>

</div>

